{% extends "WebCrawlerEngine/template.html" %}

{% block title %}
Web Crawler - Processing
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Enter the new data</div>
            <div class="panel-body">
                <form action="{% url 'editar_dados_usuario' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="nome">Name</label>
                        <label style="color:red;">*</label>
                        <input type="text" class="form-control" id="nome" name="nome" value="{{user.first_name}}" >
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="sobrenome">Last name</label>
                        <label style="color:red;">*</label>
                        <input type="text" class="form-control" id="sobrenome" name="sobrenome" value="{{user.last_name}}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" readonly>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="senha">New password</label>
                        <input type="password" class="form-control" id="senha" name="senha">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmacao_senha">Confirm new password</label>
                        <input type="password" class="form-control" id="confirmacao_senha" name="confirmacao_senha">
                    </div>
                    {% if erro %}
                    <p style="font-size:90%; color: red;"> {{erro}}</p>
                    {%elif info %}
                    <p style="font-size:90%;font-weight: bold;"> {{info}}</p>
                    {% endif %}
                    <div class="row" style="text-align: center;">
                        <button type="submit" class="btn btn-default">Salvar</button>
                        <a href="{% url 'WebCrawler:index' %}" class="btn btn-default">
                            Return
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
